# Turso for development. Port 8080 is the default
# DATABASE_URL="http://127.0.0.1:8080"

# Turso for remote database
# DATABASE_URL="libsql://<DB-NAME>-<ORGANIZATION-NAME>.turso.io?authToken=<TOKEN>"
