# Your wrangler.toml file should look something like this:

name = "t3-cloudflare"
compatibility_date = "2024-05-29"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"
